%li{:id => "note_#{note.id}", :class => "task"}
  %span= note.description
  = link_to image_tag('cross.png'), project_note_path(@note.project, note), :confirm => 'Destroy Note ?', :method => :delete, :remote => true
  = facebox_link_to image_tag('application_edit.png'), :url => edit_project_note_path(@note.project, note), :remote => true, :method => :get